h1.main-title {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-family: Helvetica;
    line-height: 3.5rem;
}

@media (max-width: 767px) {
    h1.main-title {
        font-size: 2rem;
    }
}
