h1.main-title {
    font-weight: bolder;
    font-size: 16vw;
    text-transform: uppercase;
    text-align: center;
    color: black;
    line-height: 11vw;
}

.navbar-fixed.unauth {
    opacity: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.navbar-fixed.unauth:hover {
    opacity: 1;
}
.navbar-fixed.unauth,
.navbar-fixed.unauth nav,
.navbar-fixed.unauth nav a {
    height: 32px;
    line-height: 32px;
}

.navbar-fixed.unauth {
    margin-bottom: -32px;
}

.navbar-fixed.unauth ul li {
    float: right;
}

/*nav ul li a.active {
    background-color: rgba(0,0,0,0.1);
}*/
