h1.main-title {
    font-weight: bolder;
    font-size: 16vw;
    text-transform: uppercase;
    text-align: center;
    color: black;
    line-height: 11vw;
}

.navbar-fixed.unauth {
    opacity: .75;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.navbar-fixed.unauth ul {
    margin-right: 1vw;
    margin-left: 1vw;
    width: 98vw;
}

.navbar-fixed.unauth:hover {
    opacity: 1;
}

.navbar-fixed,
.navbar-fixed nav,
.navbar-fixed nav a {
    height: 28px;
    line-height: 28px;
    background: transparent;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

@media only screen and (max-width: 480px) {
    .navbar-fixed, .navbar-fixed nav, .navbar-fixed nav a {
        font-size: 9px;
    }
}

.navbar-fixed nav a:hover {
    background-color: black;
    color: white !important;
}

.navbar-fixed {
    margin-bottom: -15px;
}

/*nav ul li a.active {
    background-color: rgba(0,0,0,0.1);
}*/
