.images-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail-container {
    width: 6vw;
}

.thumbnail {
    width: 100%;
    display: block;
    user-select: none;
    cursor: pointer;
}

/* lg */
@media only screen and (max-width: 1200px) {
    .images-gallery-container .thumbnail-container {
        width: 6vw;
    }
}

/* md */
@media only screen and (max-width: 992px) {
    .images-gallery-container .thumbnail-container {
        width: 6vw;
    }
}

/* sm */
@media only screen and (max-width: 767px) {
    .images-gallery-container .thumbnail-container {
        width: 12vw;
    }
}

/* xs */
@media only screen and (max-width: 480px) {
    .images-gallery-container .thumbnail-container {
        width: 20vw;
    }
}
