.select-wrapper input.select-dropdown {
    border: .25rem solid black;
    padding: .25rem 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 1.5rem;
    text-align: center;
}
.select-wrapper input.select-dropdown {
    width: calc(100% - .5rem)
}

.select-wrapper span.caret {
    margin-right: 15px;
}

.dropdown-content li:first-child>span {
    border-top: .25rem solid black;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: black;
    background-color: white;
    border: .25rem solid black;
    border-top: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 1.5rem;
    text-align: center;
}

.btn.universe {
    width: 100%;
    border: .25rem solid black;
    padding: .25rem 0;
    height: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 1.5rem;
    text-align: center;
}
