.inputContainer {
    border: .25rem dashed black;
    background: white;
    min-height: 12rem;
    display: block;
    margin: 2rem 0;
    position: relative;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media only screen and (max-width: 480px) {
    .inputContainer {
        min-height: 8rem;
    }
}

.inputContainer.active {
    background: lightgray;
}

label.fileInputLabel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100%;
    width: 100%;
}

label.fileInputLabel h5 {
    text-align: center;
    line-height: 2rem;
}

.inputContainer h5.regular {
    display: block;
}

.inputContainer h5.onHover {
    color: white;
    display: none;
}

.inputContainer.active h5.regular {
    display: none;
}

.inputContainer.active h5.onHover {
    display: block;
}

input.fileInput {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}
